---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
// $base-font-family: "Inter", "PT Mono", Monaco, monospace, Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
// $base-font-family: Bitter, "Apple SD Gothic Neo", AppleGothic, NanumBarunGothic, "Malgun Gothic", Dotum, sans-serif;
// $base-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$base-font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
$base-font-size:   16px;
$base-font-weight: normal;
$base-line-height: 1.5;

$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$small-font-size:  $base-font-size * 0.875;
$base-laptop-font-size:   12px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fefcf5;
// $background-color: #f5f5dc;
$brand-color: #191970 !default;

$grey-color:       #757575;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 20%);

// Width of the content area
$content-width:    900px;
$on-laptop:        $content-width;
$on-palm:          $content-width;

$post-background-color: white;


// whiteglass also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

h1, h2, h3, h4 {
  // font-family: Georgia;
  font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
}

.post-content {
    column-count: 1
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto%20Slab&display=swap');
