---
layout: default
---
<div class="home">

  {% capture i18n-tag %}archive-{{ page.type }}{% endcapture %}
  {% capture default-title %}Archive of {{ page.type }} '%1'{% endcapture %}
  {% capture title %}{% include i18n.html value=i18n-tag default=default-title %}{% endcapture %}
  <h1 class="page-heading">{{ title | replace: "%1", page.title | escape }}</h1>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  {% assign postsByDay = page.posts | group_by_exp:"post", "post.date | date: '%A, %B %e, %Y'" %}

  <ul class="post-archives">
    {% assign postsByYear = page.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h1>{{ year.name }}</h1>
      {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

    {% for month in postsByMonth %}
    <h2>{{ month.name }}</h2>
    <ul>
      {% for post in month.items %}
      {% assign postDate = post.date | date: '%b %d' %}
        <li>
          <span class="post-meta">{{postDate}}</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

    {% endfor %}
    {% endfor %}
  </ul>

</div>
