---
layout: default
---
<div class="home">

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  {% assign postsByDay = site.posts | group_by_exp:"post", "post.date | date: '%A, %B %e, %Y'" %}

  <ul class="post-archives">
    {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
    {% for year in postsByYear %}
      <h1>{{ year.name }}</h1>
      {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

    {% for month in postsByMonth %}
    <h2>{{ month.name }}</h2>
    <ul>
      {% for post in month.items %}
      {% assign postDate = post.date | date: '%b %d' %}
        <li>
          <span class="post-meta">{{postDate}}</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

    {% endfor %}
    {% endfor %}
  </ul>
</div>
